<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
        <exclude>
            <!-- Exclude Laravel's built-in Auth scaffolding -->
            <directory>app/Http/Controllers/Auth</directory>

            <!-- Exclude front-end view components -->
            <directory>app/View/Components</directory>

            <!-- Exclude default policies and service providers -->
            <directory>app/Policies</directory>
            <file>app/Providers/TelescopeServiceProvider.php</file>

            <!-- (Optional) exclude static pages or demo controllers -->
            <directory>app/Http/Controllers/StaticPages</directory>

            <directory>app/Http/Requests</directory>

            <!-- Exclude only files directly in Http/Controllers -->
            <file>app/Http/Controllers/Controller.php</file>
            <file>app/Http/Controllers/JokeController.php</file>
            <file>app/Http/Controllers/JokeReactionController.php</file>
            <file>app/Http/Controllers/UserController.php</file>
            <file>app/Http/Controllers/CategoryController.php</file>
            <file>app/Http/Controllers/ProfileController.php</file>
            <file>app/Http/Controllers/StaticPages.php</file>
            <!-- Exclude role controller as tests don't use the file (file is a modifier) -->
            <file>app/Http/Controllers/Api/v3\RoleController.php</file>
        </exclude>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
